@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model dynamic
@inject IViewLocalizer localizer


@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="~/css/register.css" asp-append-version="true">
</head>
<body>
<div class="register-container">
<h1>@localizer["RegisterMsg"]</h1>
    <form asp-action="Register" method="post">
        <input type="text" name="username" placeholder="@localizer["UsernameMsg"]" class="neon-input" required />
        <input type="email" name="email" placeholder="@localizer["EmailMsg"]" class="neon-input" required />
        <input type="password" name="password" placeholder="@localizer["PasswordMsg"]" class="neon-input" required />
        <button type="submit" class="neon-button">@localizer["RegisterMsg"]</button>
    </form>
</div>
</body>
</html>