@model DiscoverYourself.Models.Entities.User
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer

@{
    ViewData["Title"] = "Home Page";
    Layout = null;
    var userName = Model.UserName;
    var userId = Model.Id;
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@localizer["HomeMsg"]</title>
    <link rel="stylesheet" href="~/css/home_index.css" asp-append-version="true">
</head>
<div class="text-center">
    <div class="header">
        <h1 class="display-4">@localizer["WelcomeMsg"] @userName</h1>
        <p>@localizer["DiscoverYourselfMsg"]</p>
        <div class="user-profile">
            <img src="https://i.hizliresim.com/bgtjosy.jpeg" alt="User Profile" class="profile-pic">
        </div>
        <form asp-controller="Account" asp-action="Logout" method="post" class="logout-form">
            <button type="submit" class="btn btn-danger">@localizer["LogoutMsg"]</button>
        </form>
    </div>
    <div class="blog-section">
        <a href="/AccumulationGoals/Index/@userId" class="target-btn">@localizer["AccumulationGoalsMsg"]</a>
        <a href="/BusinessGoals/Index/@userId" class="target-btn">@localizer["BusinessGoalsMsg"]</a>
        <a href="/EducationGoals/Index/@userId" class="target-btn">@localizer["EducationGoalsMsg"]</a>
        <a href="/DevelopmentGoals/Index/@userId" class="target-btn">@localizer["DevelopmentGoalsMsg"]</a>
    </div>
    <div class="reports-section">
        <a href="/Home/Reports/@userId" class="target-btn">@localizer["ReportsMsg"]</a>
    </div>
</div>
