@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer

@{
    ViewData["Title"] = "Reports Page";
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/reports.css" asp-append-version="true">
    <title>Reports Page</title>
</head>
<body>
<div class="header text-center">
    <h1>Welcome to Your Reports</h1>
    <p>Choose a report to view detailed insights</p>
</div>

<div class="report-buttons">
    <div class="report-item">
        <button onclick="getReport('Accumulation')">@localizer["AccumulationReportMsg"]</button>
        <p class="report-description">@localizer["AccumulationReportDesc"]</p>
    </div>

    <div class="report-item">
        <button onclick="getReport('Education')">@localizer["EducationReportMsg"]</button>
        <p class="report-description">@localizer["EducationReportDesc"]</p>
    </div>

    <div class="report-item">
        <button onclick="getReport('Development')">@localizer["DevelopmentReportMsg"]</button>
        <p class="report-description">@localizer["DevelopmentReportDesc"]</p>
    </div>

    <div class="report-item">
        <button onclick="getReport('Business')">@localizer["BusinessReportMsg"]</button>
        <p class="report-description">@localizer["BusinessReportDesc"]</p>
    </div>
</div>


<script>
    function getReport(reportType) {
        alert(`Fetching ${reportType} report...`);
    }
</script>
</body>
</html>
