@model List<DiscoverYourself.Models.Entities.InvestmentGoal>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer

@{ Layout = null; }

<head>
    <title>@localizer["AccumulationReportPageMsg"]</title>
    <link rel="stylesheet" href="~/css/accumulation_report.css" asp-append-version="true">
</head>
<h2>@localizer["AccumulationReportMsg"]</h2>

<table class="table">
    <thead>
    <tr>
        <th>@localizer["DateMsg"]</th>
        <th>@localizer["TargetCurrencyMsg"]</th>
        <th>@localizer["ActualCurrencyMsg"]</th>
        <th>@localizer["TargetGoldMsg"]</th>
        <th>@localizer["ActualGoldMsg"]</th>
        <th>@localizer["TargetSilverMsg"]</th>
        <th>@localizer["ActualSilverMsg"]</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var investment in Model)
    {
        <tr>
            <td>@investment.Date.ToShortDateString()</td>
            <td>@investment.TargetCurrency</td>
            <td>@investment.ActualCurrency</td>
            <td>@investment.TargetGold</td>
            <td>@investment.ActualGold</td>
            <td>@investment.TargetSilver</td>
            <td>@investment.ActualSilver</td>
        </tr>
    }
    </tbody>
</table>