@model List<DiscoverYourself.Models.Entities.BusinessGoal>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer

@{ Layout = null; }

<head>
    <title>@localizer["BusinessReportMsg"]</title>
    <link rel="stylesheet" href="~/css/business_report.css" asp-append-version="true">
</head>
<h2>@localizer["BusinessReportMsg"]</h2>

<table class="table">
    <thead>
    <tr>
        <th>@localizer["StartDateMsg"]</th>
        <th>@localizer["EndDateMsg"]</th>
        <th>@localizer["TaskCompletedMsg"]</th>
        <th>@localizer["TaskTypeMsg"]</th>
        <th>@localizer["DailyWorkHoursMsg"]</th>
        <th>@localizer["DailySelfDevelopmentHoursMsg"]</th>
        <th>@localizer["AdditionalInfoMsg"]</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var business in Model)
    {
        <tr>
            <td>@business.StartDate.ToShortDateString()</td>
            <td>@business.EndDate.ToShortDateString()</td>
            <td>@business.TasksCompleted</td>
            <td>@business.TaskType.ToString()</td>
            <td>@business.DailyWorkHours</td>
            <td>@business.DailySelfDevelopmentHours</td>
            <td>@business.AdditionalInfo</td>
        </tr>
    }
    </tbody>
</table>