@model List<DiscoverYourself.Models.Entities.DevelopmentGoal>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer

@{ Layout = null; }

<head>
    <title>@localizer["DevelopmentReportMsg"]</title>
    <link rel="stylesheet" href="~/css/development_report.css" asp-append-version="true">
</head>
<h2>@localizer["DevelopmentReportMsg"]</h2>

<table class="table">
    <thead>
    <tr>
        <th>@localizer["StartDateMsg"]</th>
        <th>@localizer["EndDateMsg"]</th>
        <th>@localizer["CategoryMsg"]</th>
        <th>@localizer["DescriptionMsg"]</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var development in Model)
    {
        <tr>
            <td>@development.StartDate.ToShortDateString()</td>
            <td>@development.EndDate?.ToShortDateString()</td>
            <td>@development.Category</td>
            <td>@development.Description</td>
        </tr>
    }
    </tbody>
</table>