@model List<DiscoverYourself.Models.Entities.EducationGoal>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer

@{ Layout = null; }

<head>
    <title>@localizer["EducationReportMsg"]</title>
    <link rel="stylesheet" href="~/css/education_report.css" asp-append-version="true">
</head>
<h2>@localizer["EducationReportMsg"]</h2>

<table class="table">
    <thead>
    <tr>
        <th>@localizer["StartDateMsg"]</th>
        <th>@localizer["EndDateMsg"]</th>
        <th>@localizer["TitleMsg"]</th>
        <th>@localizer["DescriptionMsg"]</th>
        <th>@localizer["TopicsMsg"]</th>
        <th>@localizer["DifficultyMsg"]</th>
        <th>@localizer["TargetAudienceMsg"]</th>
        <th>@localizer["MilestonesMsg"]</th>
        <th>@localizer["SuccessCriteriaMsg"]</th>
        <th>@localizer["IsCompletedMsg"]</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var education in Model)
    {
        <tr>
            <td>@education.StartDate.ToShortDateString()</td>
            <td>@education.EndDate.ToShortDateString()</td>
            <td>@education.Title</td>
            <td>@education.Description</td>
            <td>@education.Topics</td>
            <td>@education.Difficulty</td>
            <td>@education.TargetAudience</td>
            <td>@education.Milestones</td>
            <td>@education.SuccessCriteria</td>
            <td>@education.IsCompleted</td>
        </tr>
    }
    </tbody>
</table>